* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 950px) {
  #barraSuperior {
    padding-left: 0 !important;
    display: flex !important;
    flex-direction: column !important;
  }
  #barraSuperior .parteIzquierda {
    margin-top: 10px;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
}
#imagen {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .imagen2 {
    width: 100% !important;
  }
  .imagen2 img {
    padding-right: 0px !important;
  }

  .textoImagen {
    width: 90% !important;
  }
  .textoImagen .imagen3 {
    position: relative !important;
  }
}
.imagen3 img {
  width: 100%;
}

#barraSuperior {
  background-color: #d91616;
  color: white;
  font-family: sans-serif;
  display: flex;
  padding-left: 40px;
  flex-direction: row;
}
#barraSuperior .parteIzquierda {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#barraSuperior .parteIzquierda .direccion,
#barraSuperior .parteIzquierda .p,
#barraSuperior .parteIzquierda .correo,
#barraSuperior .parteIzquierda .telefono {
  display: inline-flex;
}
#barraSuperior .redes {
  display: inline-flex;
  margin-top: 7px;
  padding-bottom: 10px;
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: #d91616;
  background-color: white;
}

.fa-twitter {
  color: #d91616;
  background-color: white;
}

.fa-instagram {
  color: #d91616;
  background-color: white;
}

.fa-youtube {
  color: #d91616;
  background-color: white;
}

.fa-telegram {
  color: #d91616;
  background-color: white;
}

img {
  width: 25%;
}

.contenedor {
  display: flex;
  font-weight: bold;
  align-items: center;
}
.contenedor .menu a {
  text-decoration: none;
  color: gray;
  padding: 15px;
}
.contenedor .menu .selected {
  border-radius: 50px;
  background-color: #50c9fd;
  color: white;
  padding: 8px;
  margin-bottom: 10px;
}
.contenedor .menu .icon {
  display: none;
}

.p1 {
  top: 35%;
  position: absolute;
  color: #3d51c7;
  font-size: 20px;
  left: 500px;
  font-weight: bold;
}

.p2 {
  top: 40%;
  position: absolute;
  color: #d91616;
  font-size: 50px;
  left: 420px;
}

.botonArriba {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 490px;
  background-color: #50c9fd;
  border-radius: 7px;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  border: none;
}

.carousel .carousel-indicators {
  list-style: none;
}
.carousel .carousel-indicators li.active,
.carousel .carousel-indicators li {
  width: 70px;
  height: 70px;
  background-color: #fff;
  position: relative;
  margin: 10px;
}
.carousel .carousel-indicators img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 775px) {
  .carousel-indicators {
    left: 30% !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .carousel-indicators {
    display: none !important;
  }
}
.titulo1 {
  color: #d91616;
  text-align: center;
  padding: 15px;
  padding-top: 40px;
}

@media screen and (max-width: 950px) {
  .comunidad {
    flex-direction: column !important;
  }
}
.comunidad {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.comunidad .imagen2 {
  width: 50%;
  margin-bottom: 10px;
}
.comunidad .imagen2 img {
  object-fit: contain;
  width: 100%;
  padding-right: 25px;
}
.comunidad .textoImagen {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
  position: relative;
}
.comunidad .textoImagen h1 {
  color: #50c9fd;
  position: relative;
  font-size: xxx-large;
}

.etapas {
  display: flex;
  flex-direction: row;
}
.etapas .guarderia {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}
.etapas .guarderia img {
  width: 30%;
}
.etapas .primaria {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  border-right: 2px rgba(121, 121, 121, 0.5) dashed;
  justify-content: space-evenly;
  align-items: center;
}
.etapas .primaria img {
  width: 30%;
}
.etapas .infantil {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  border-left: 2px rgba(121, 121, 121, 0.5) dashed;
  border-right: 2px rgba(121, 121, 121, 0.5) dashed;
  justify-content: space-evenly;
  align-items: center;
}
.etapas .infantil img {
  width: 30%;
}
.etapas .secundaria {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  border-right: 2px rgba(121, 121, 121, 0.5) dashed;
  justify-content: space-evenly;
  align-items: center;
}
.etapas .secundaria img {
  width: 30%;
}
.etapas .bachiller {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}
.etapas .bachiller img {
  width: 30%;
}

.botonCursos {
  padding-bottom: 5px;
  background-color: #117fad !important;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 6px 18px;
  text-decoration: none;
  border: none;
  margin-bottom: 7px;
}

@media screen and (max-width: 950px) {
  .etapas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    text-align: center;
    font-size: larger;
  }
  .etapas .secundaria,
.etapas .primaria,
.etapas .infantil,
.etapas .bachiller,
.etapas .guarderia {
    border: none;
    width: 100% !important;
    text-align: center;
  }
}
.galeriaImagenes {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10%;
}
.galeriaImagenes img {
  width: 20%;
}
.galeriaImagenes .primeraFila {
  flex-direction: row;
  flex: 1;
}
.galeriaImagenes .segundaFila {
  flex-direction: row;
  flex: 2;
}

@media screen and (max-width: 600px) {
  .galeriaImagenes img {
    width: 100% !important;
  }
}
.primeraF {
  display: flex;
  flex-direction: row;
}

.segundaF {
  display: flex;
  flex-direction: row;
}

.col {
  flex-basis: 100%;
  text-align: center;
}

.col2 {
  flex-basis: 100%;
  text-align: justify;
  padding-left: 30px;
  align-items: center;
  top: 50px;
  position: relative;
}

.ofrecimientos {
  font-size: small;
  padding: 5px;
  margin: 10px;
}

.iconoOfrecimientos {
  margin-top: 7px;
}

@media screen and (max-width: 900px) {
  .primeraF {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    text-align: center;
    font-size: larger;
  }
  .primeraF .tienda,
.primeraF .innovacion,
.primeraF .madrugadores,
.primeraF .comedor {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  .actividades {
    background-color: rgba(153, 153, 153, 0.2);
  }

  .pastoral {
    background-color: white !important;
  }

  .bilinguismo {
    background-color: rgba(153, 153, 153, 0.2);
  }

  .plataforma {
    background-color: white !important;
  }

  .segundaF {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    text-align: center;
    font-size: larger;
  }
  .segundaF .actividades,
.segundaF .pastoral,
.segundaF .plataforma,
.segundaF .bilinguismo {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
}
.innovacion {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.comedor {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.madrugadores {
  background-color: rgba(153, 153, 153, 0.2);
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.pastoral {
  background-color: rgba(153, 153, 153, 0.2);
  width: 25%;
}

.plataforma {
  background-color: rgba(153, 153, 153, 0.2);
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.tienda {
  background-color: rgba(153, 153, 153, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}

.actividades {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.pastoral {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.bilinguismo {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.plataforma {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .contenedorImagen {
    flex-direction: column !important;
  }

  .ant,
.sig {
    display: none !important;
  }
}
.contenedorImagen {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.contenedorImagen .textoDebajo {
  display: flex;
  flex-direction: column;
}
.contenedorImagen .textoDebajo p {
  color: #3aa8b5;
  font-weight: bold;
  padding: 10px;
  font-size: large;
}

.ant,
.sig {
  position: relative;
  width: auto;
  padding: 10px;
  color: white;
  background-color: red;
  font-weight: bold;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  bottom: 160px;
  right: -105px;
}

.sig {
  left: 90%;
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

.informacion1 {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  width: 50%;
}
.informacion1 .contenido1 {
  width: 50%;
}
.informacion1 .contenido1 .colorM {
  color: #117fad;
}
.informacion1 .redes2 {
  margin-top: 5px;
}

.color {
  background-color: white !important;
  color: #117fad;
}

@media screen and (max-width: 600px) {
  .informacion1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    width: 100%;
  }
  .informacion1 .contenido1 {
    width: 80%;
    text-align: center;
  }
  .informacion1 .formulario {
    width: 100%;
    padding-left: 0 !important;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .ant,
.sig {
    bottom: 200px;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  footer {
    height: 600px !important;
    padding-right: 20px !important;
  }
  footer .redesFooter {
    width: 100% !important;
    font-size: larger;
    padding-left: 0 !important;
  }
  footer .redes3 {
    position: relative !important;
    right: 0 !important;
  }
  footer .reconocimientos {
    width: 100% !important;
  }
  footer .servicios,
footer .etapasFooter {
    display: none;
  }
  footer .copy {
    position: relative !important;
    padding-left: 0 !important;
    padding-bottom: 0px !important;
    padding: 10px;
  }
}
.formulario {
  width: 50%;
  padding-left: 10px;
}
.formulario p {
  color: gray;
  display: inline-flex;
  padding-left: 5px;
}
.formulario form input[type=submit] {
  background-color: #117fad !important;
  border-radius: 50px;
  color: white;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 6px 18px;
  text-decoration: none;
  border: none;
}
.formulario textarea {
  width: 100%;
  height: 100px;
  margin: 8px 0;
  resize: none;
  display: block;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgba(153, 153, 153, 0.5);
}
.formulario form input[type=text],
.formulario form input[type=correo],
.formulario form input[type=number] {
  width: 100%;
  outline: 2;
  border-width: 0 0 2px;
  border-color: rgba(153, 153, 153, 0.5);
}

footer {
  background-color: #c71414;
  color: white;
  height: 400px;
  position: relative;
  padding-left: 50px;
}
footer .redesFooter,
footer .etapasFooter,
footer .servicios,
footer .reconocimientos {
  width: 25%;
  float: left;
}
footer .redesFooter .imagenes img,
footer .etapasFooter .imagenes img,
footer .servicios .imagenes img,
footer .reconocimientos .imagenes img {
  width: 45%;
}
footer .copy {
  position: absolute;
  bottom: 0px;
  padding-left: 15px;
  padding-bottom: 20px;
}
footer .redes3 {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  padding-bottom: 30px;
  right: 100px;
}

@media screen and (max-width: 900px) {
  .contenido {
    display: flex;
    flex-direction: column !important;
    text-align: center;
  }
}
@media screen and (max-width: 920px) {
  footer {
    height: 1200px;
  }
  footer .redes3 {
    right: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .menu a:not(:last-child) {
    display: none;
  }

  .menu .icon {
    display: block !important;
  }
}
@media screen and (max-width: 950px) {
  .menu.responsive {
    position: relative;
  }

  .menu.responsive .icon {
    position: absolute;
    right: 100%;
    top: 0;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 1220px) {
  .libros {
    background: rgba(153, 153, 153, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 20px;
  }
  .libros .p1 {
    left: 0;
    right: 0;
    position: relative !important;
  }
  .libros .p2 {
    left: 0;
    right: 0;
    position: relative !important;
  }
  .libros .botonArriba {
    margin-top: 10px;
    position: relative !important;
    left: 0%;
  }
}

/*# sourceMappingURL=output.css.map */
